<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have problems with the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> pleace contact us by visiting <a href="http://ruby.railstutorial.org/contact">Contact Us</a>. This is the sample application, contact page, for the tutorial.
</p>